<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Student Management</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <!-- Navbar for File Upload -->
  <nav class="navbar">
    <ul>
      <li><a href="https://docs.google.com/spreadsheets/d/1XMyJlwbtBK2NpadJDtRGKnhFW-riqcVav3Foz2U_tgo/edit?gid=0#gid=0" target="_blank">View sample sheet</a></li>
      <li><a href="/">Upload Excel File</a></li>
      <li><a href="/studentList">View Student List</a></li>
    </ul>
  </nav>

  <!-- Main content area where page-specific content will be rendered -->
  <div class="content">
    
  </div>
</body>
</html>
